<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
 
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body>
      <h1 class="m-3 text-center">Covid Quiz Page</h1>
      
          <form method="POST" action= "{% url 'dataVis_view' user.id%}">
            {% csrf_token %}
            {% for question in questions %}
            <div class="row">
              <div class="form-check form-check-inline ml-3">
                <input class="form-check-input" type="radio" name={{question.id}} id="neverCheckBox" value="optionNever">
                <label class="form-check-label" for="neverCheckBox">Never, {{question.id}}</label>
              </div>
              <div class="form-check form-check-inline ml-3">
                <input class="form-check-input" type="radio" name={{question.id}} id="oncePMCheckBox" value="optionOncePM">
                <label class="form-check-label" for="oncePMCheckBox">Once PM</label>
              </div>
              <div class="form-check form-check-inline ml-3">
                <input class="form-check-input" type="radio" name={{question.id}} id="oncePWCheckBox" value="optionOncePW">
                <label class="form-check-label" for="oncePMCheckBox">Once PW</label>
              </div>
              <div class="form-check form-check-inline ml-3">
                <input class="form-check-input" type="radio" name={{question.id}} id="everydayCheckBox" value="optionEveryday">
              </div>
              <label class="form-label ml-3">{{question.body}}</label>
            </div>
            {% endfor %}
            <div class="row">
              <input class="btn btn-primary m-3" name="submit_button" type="submit" value='Calculate Score'>
            </div>
          </form>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>